<section  class="container" id="aboutme">
  <div data-aos="zoom-in" data-aos-duration="3000">
    <h3 class="title">{{title}}</h3>
    <img class="imgtitle" [src]="abaoutme" />
  </div>

  <p class="about-paragraph" data-aos="zoom-in" data-aos-duration="3000"  >
    Ease of working as part of a team, always willing to improve and learn "life Long Learnig",
    to broadcast my knowledge and experiences of diverse environments that give me the possibility to approach the
    challenges from different perspectives.<br>
    Project management methodologies used Scrum&Agile.<br>
    <br><br>
    Formations:<br>
    First cycle of Environmental Sciences. UNED, 2014-2016 <br>
    Programming in structured languages. Aspasia, 2019 <br>
    Programming information systems. Loeches, 2021 <br>
  </p>



</section>