.about-paragraph {
  margin: 10px auto;
  width: 70%;
  
}


/* .link1 {
      &__link:hover {        
        filter: sepia(60%);       
      }  
    }


   .containerN{      
      &__link {
          
     color: #000;
     position: fixed;
     bottom: 70px;
     right: 20px;
  
        }
        &__link:hover {
          
          filter: drop-shadow(2px 4px 15px rgb(8, 8, 8));
         
        }
  }
 */
