<section class="container" id="skills">
    <div  data-aos="zoom-in" data-aos-duration="3000">
        <h3 class="title">{{title}}</h3>
        <img class="imgtitle" [src]="icono" />
    </div>

    <div class="space" data-aos="zoom-in" data-aos-duration="3000">
        <img *ngFor="let data of datafront" class="imgseparator" [src]="data.icon" title='{{data.title}}'>

    </div>
    <div class="space" data-aos="zoom-in" data-aos-duration="3000">
        <img *ngFor="let data of databack" class="imgseparator" [src]="data.icon" title='{{data.title}}'>

    </div>
    <div class="space" data-aos="zoom-in" data-aos-duration="3000">
        <img *ngFor="let data of database" class="imgseparator" [src]="data.icon" title='{{data.title}}'>

    </div>
    <div class="space" data-aos="zoom-in" data-aos-duration="3000">
        <img *ngFor="let data of game" class="imgseparator" [src]="data.icon" title='{{data.title}}'>

    </div>
    <div class="space" data-aos="zoom-in" data-aos-duration="3000"> 
        <img *ngFor="let data of cloud" class="imgseparator" [src]="data.icon" title='{{data.title}}'>

    </div>
</section>