<article *ngIf="project" class="project">
  <figure class="snip0015">
    <img  class="responsive-image" [src]="project.image"/>
    <figcaption>
      <h2 class="project__title"> <span>{{ project.title }}</span></h2>		
      <p><span>Technologies</span> </p>
      <p>
        <img title='Html 5' [src]='project.skills'>
        <img title='Css 3' [src]="project.skill3">
        <img title='javascript' [src]="project.javascript">
        <img title='Angular' [src]="project.skill2">
        <img title='typescript' [src]="project.typescript">      
      </p>
      <p>
        <img title='Nodejs' style="width: 40px;" [src]="project.nooode" >
        <img title='MongoDB' style="width: 40px;" [src]="project.mongo" >
      </p>
      <div style="position: relative; display: flex; flex-direction: column;">
        <a class="project__link" [href]="project.github" target="_blank">Repository</a>
        <a class="project__link" [href]="project.demo" target="_blank">Demo</a>
      </div>		
    </figcaption>				
  </figure> 
</article>