
<section class="container" id="certificates" > 
    <div  data-aos="zoom-in" data-aos-duration="3000">
        <h3 class="title">{{title}}</h3>
        <img class='imgtitle' title='certificates'[src]='icon'>    
    </div>

    <ul *ngFor="let data of dataCertificates"  data-aos="zoom-in" data-aos-duration="3000" >
        <li>
            <p style="max-width: 150px;">{{data.copia}} </p>             
            <img class="azure"  [src]=data.insignia/>
            <p>{{data.codigo}}</p>
            <a class='lin' href={{data.details}} target="_blank"> <img  class="credly" [src]=data.iconCredly></a>            
        </li>
        
    </ul>
    
    
</section>
