<footer class="container_footer" id='footer'>
  <div class="container" class="centrar2">
    <a class="social" class='centrar'  href="https://github.com/albertcolomer" target="_blank">
      <img title="Git Hub" [src]="gitS" > <p>Git Hub</p>
    </a>
    <a class="social2" class='centrar' href="https://www.linkedin.com/in/alberto-c-32200a42/" target="_blank">
      <img [src]="linkedin"> <p> Linkedin</p>
    </a>
    <div class='centrar'>
      <img [src]="email" ><p>colomerMR@hotmail.com</p>
    </div>
  </div>  
</footer>