<footer class="container_footer" id='footer'>
  <div class="container" class="centrar2">
    <a class="social" class='centrar'  href="https://github.com/albertcolomer" target="_blank">
      <img title="Git Hub" [src]="gitS" > <p>Git Hub</p>
    </a>
    <a class="social2" class='centrar' href="https://github.com/albertcolomer" target="_blank">
      <img [src]="linkedin"> <p> Linkedin</p>
    </a>
    <div class='centrar'>
      <img [src]="email" ><p>colomerMR@gmail.com</p>
    </div>
  </div>
  
  <!-- <a class="footer__link" href="https://github.com/oriananohemi" target="_blank">oriananohemi</a> -->
 
  
  <a href=" "></a>
</footer>